@import "tailwindcss";

:root {
  font-family: Inter;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  --color-primary: #FF6767;
  --color-secondary: #F7F9FF;
  --color-text: #403D3D;
  --color-text-desc: #757070;
  --color-in-progress: #0224FF;
  --color-not-started: #F21E1E;
  --color-completed: #05A301;
  /*Noi khai bao cac bien mau danh cho lightmode */ 
  --body-background: white; 
  --body-color: black; 
  --link-color: navy; 
}
[data-theme="dark"] {
  --body-background: #282c34; 
  --body-color: white; 
  --link-color: cyan; 
}
* {
  transition: all 0.3s ease-in-out;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
}

* {
  transition: all; 
}




@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  button {
    background-color: #f9f9f9;
  }
}
